<div data-collection-url="/collections/destaques" data-t4s-resizeobserver=""
    class="t4s-flicky-slider t4s_box_pr_slider t4s-products t4s-text-default t4s_rationt t4s_position_8 t4s_cover t4s-slider-btn-style-default t4s-slider-btn-pos-default t4s-slider-btn-none t4s-slider-btn-small t4s-slider-btn-cl-dark t4s-slider-btn-vi-hover t4s-slider-btn-hidden-mobile-false t4s-row t4s-row-cols-lg-4 t4s-row-cols-md-3 t4s-row-cols-2 t4s-gx-md-30 t4s-gy-md-30 t4s-gx-10 t4s-gy-10 flickityt4s flickityt4s-enabled is-draggable t4s-enabled flickityt4s_prev_disable flickityt4s_next_enable"
    data-flickityt4s-js="{&quot;setPrevNextButtons&quot;:true,&quot;arrowIcon&quot;:&quot;2&quot;,&quot;imagesLoaded&quot;: 0,&quot;adaptiveHeight&quot;: 0, &quot;contain&quot;: 1, &quot;groupCells&quot;: &quot;100%&quot;, &quot;dragThreshold&quot; : 5, &quot;cellAlign&quot;: &quot;left&quot;,&quot;wrapAround&quot;: false,&quot;prevNextButtons&quot;: true,&quot;percentPosition&quot;: 1,&quot;pageDots&quot;: false, &quot;autoPlay&quot; : 0, &quot;pauseAutoPlayOnHover&quot; : true }"
    style="--space-dots: 10px; --flickity-btn-pos: 30px; --flickity-btn-pos-mb: 10px; --tophead_mb: 30px; --prev-next-top: 172.5px;" "="" tabindex="
    0">
    <div class="flickityt4s-viewport" style="height: 421px; touch-action: pan-y;">
        <div class="flickityt4s-slider" style="left: 0px; transform: translateX(0%);">
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9519089123603 t4s-col-item is-t4s-pr-created t4s_observered is-selected"
                data-product-options="{ &quot;id&quot;:&quot;9519089123603&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;kit-acessorios-banheiro-inox-premium-atitude-versatil&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49311072420115, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1718659104, &quot;compare_at_price&quot;:null,&quot;price&quot;:25070, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111\u0026width=1&quot;,&quot;alt&quot;:&quot;kit-acessorios-banheiro-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                style="position: absolute; left: 0px; transform: translateX(0%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1000" height="1000" alt="kit-acessorios-banheiro"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=900 900w"
                                sizes="345px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&amp;width=900 900w">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-pr-img2="" class="t4s-product-hover-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=900 900w"
                                sizes="270px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/Sa0e0f5675e5d45af85ab9e64c7966bdcf.webp?v=1718659111&amp;width=900 900w">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/S37ae7b4dc1a1427eb48c5968c09871c4W.webp?v=1718659111&width=600"
                                    alt="kit-acessorios-banheiro"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/kit-acessorios-banheiro-inox-premium-atitude-versatil"
                                data-atc-selector="" data-tooltip="" data-id="9519089123603" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/kit-acessorios-banheiro-inox-premium-atitude-versatil"
                                data-tooltip="left" data-id="9519089123603" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/kit-acessorios-banheiro-inox-premium-atitude-versatil"
                                data-tooltip="left" data-id="9519089123603" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/kit-acessorios-banheiro-inox-premium-atitude-versatil"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/kit-acessorios-banheiro-inox-premium-atitude-versatil"
                                    class="is--href-replaced">Kit Acessórios Banheiro Inox Premium Atitude Versátil</a>
                            </h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9519089123603"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 250,70
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9504991248659 t4s-col-item is-t4s-pr-created t4s_observered is-selected"
                data-product-options="{ &quot;id&quot;:&quot;9504991248659&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;luminaria-pendente-hemp-rope-vintage&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49244264956179, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1718041592, &quot;compare_at_price&quot;:null,&quot;price&quot;:31088, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109\u0026width=1&quot;,&quot;alt&quot;:&quot;luminaria-pendente-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                style="position: absolute; left: 0px; transform: translateX(100%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024" alt="luminaria-pendente"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=900 900w"
                                sizes="345px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&amp;width=900 900w">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-pr-img2="" class="t4s-product-hover-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=900 900w"
                                sizes="270px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/2_41e52609-07e7-4080-bb29-f2bdc7681012.jpg?v=1718045109&amp;width=900 900w">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/1_96b495bd-109a-404d-9b97-b8e46b6ed86b.jpg?v=1718045109&width=600"
                                    alt="luminaria-pendente"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/luminaria-pendente-hemp-rope-vintage"
                                data-atc-selector="" data-tooltip="" data-id="9504991248659" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/luminaria-pendente-hemp-rope-vintage"
                                data-tooltip="left" data-id="9504991248659" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/luminaria-pendente-hemp-rope-vintage"
                                data-tooltip="left" data-id="9504991248659" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/luminaria-pendente-hemp-rope-vintage"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/luminaria-pendente-hemp-rope-vintage"
                                    class="is--href-replaced">Luminária Pendente Hemp Rope Vintage</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9504991248659"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 310,88
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9298836029715 t4s-col-item is-t4s-pr-created t4s_observered is-selected"
                data-product-options="{ &quot;id&quot;:&quot;9298836029715&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;luminaria-pendente-crystal-elegance&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 48744092270867, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1713368014, &quot;compare_at_price&quot;:null,&quot;price&quot;:37585, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019\u0026width=1&quot;,&quot;alt&quot;:&quot;Luminária Pendente Crystal Elegance - Atitude Versátil - 2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                style="position: absolute; left: 0px; transform: translateX(200%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="800" height="800" alt="Luminária Pendente Crystal Elegance - Atitude Versátil"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=900 900w"
                                sizes="345px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&amp;width=900 900w">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-pr-img2="" class="t4s-product-hover-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=900 900w"
                                sizes="270px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/Sef66380156ba496395db03934ecbb388T.webp?v=1713368019&amp;width=900 900w">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/S480a161f7c5f48dd9b75b98e6d7e2a56W.webp?v=1713368019&width=600"
                                    alt="Luminária Pendente Crystal Elegance - Atitude Versátil"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/luminaria-pendente-crystal-elegance"
                                data-atc-selector="" data-tooltip="" data-id="9298836029715" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/luminaria-pendente-crystal-elegance"
                                data-tooltip="left" data-id="9298836029715" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/luminaria-pendente-crystal-elegance"
                                data-tooltip="left" data-id="9298836029715" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/luminaria-pendente-crystal-elegance"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/luminaria-pendente-crystal-elegance"
                                    class="is--href-replaced">Luminária Pendente Crystal Elegance</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9298836029715"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 375,85
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9566948557075 t4s-col-item is-t4s-pr-created t4s_observered is-selected"
                data-product-options="{ &quot;id&quot;:&quot;9566948557075&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;esfregao-eletrico-para-piso-e-limpeza-pesada-atitude-versatil&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49451594219795, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1720217681, &quot;compare_at_price&quot;:null,&quot;price&quot;:28378, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686\u0026width=1&quot;,&quot;alt&quot;:&quot;esfregao-eletrico-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                style="position: absolute; left: 0px; transform: translateX(300%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024" alt="esfregao-eletrico"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=900 900w"
                                sizes="345px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&amp;width=900 900w">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-pr-img2="" class="t4s-product-hover-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=900 900w"
                                sizes="270px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/S77e4dab737d04f06a1719056a696e5b0Y.webp?v=1720217686&amp;width=900 900w">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/1_cdf7b12f-567d-4f83-8585-b9cfd3e4e8d1.jpg?v=1720305316&width=600"
                                    alt="esfregao-eletrico"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/esfregao-eletrico-para-piso-e-limpeza-pesada-atitude-versatil"
                                data-atc-selector="" data-tooltip="" data-id="9566948557075" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/esfregao-eletrico-para-piso-e-limpeza-pesada-atitude-versatil"
                                data-tooltip="left" data-id="9566948557075" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/esfregao-eletrico-para-piso-e-limpeza-pesada-atitude-versatil"
                                data-tooltip="left" data-id="9566948557075" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/esfregao-eletrico-para-piso-e-limpeza-pesada-atitude-versatil"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/esfregao-eletrico-para-piso-e-limpeza-pesada-atitude-versatil"
                                    class="is--href-replaced">Esfregão Elétrico Para Piso e Limpeza Pesada Atitude
                                    Versátil</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9566948557075"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 283,78
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9543379550483 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9543379550483&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;fruteira-de-mesa-de-aco-inoxidavel-estilo-europeu-atitude-versatil&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49377020903699, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1719421065, &quot;compare_at_price&quot;:null,&quot;price&quot;:35010, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675\u0026width=1&quot;,&quot;alt&quot;:&quot;fruteira-de-mesa-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(400%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024" alt="fruteira-de-mesa"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=900 900w"
                                sizes="345px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&amp;width=900 900w">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-pr-img2="" class="t4s-product-hover-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=900 900w"
                                sizes="270px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/2_c5da3f4b-3034-4d3b-b6b9-b4149109f341.webp?v=1719425675&amp;width=900 900w">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/1_45f82364-bd52-42fb-8ba0-ab83b15c4cd1.webp?v=1719425676&width=600"
                                    alt="fruteira-de-mesa"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/fruteira-de-mesa-de-aco-inoxidavel-estilo-europeu-atitude-versatil"
                                data-atc-selector="" data-tooltip="" data-id="9543379550483" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/fruteira-de-mesa-de-aco-inoxidavel-estilo-europeu-atitude-versatil"
                                data-tooltip="left" data-id="9543379550483" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/fruteira-de-mesa-de-aco-inoxidavel-estilo-europeu-atitude-versatil"
                                data-tooltip="left" data-id="9543379550483" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/fruteira-de-mesa-de-aco-inoxidavel-estilo-europeu-atitude-versatil"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/fruteira-de-mesa-de-aco-inoxidavel-estilo-europeu-atitude-versatil"
                                    class="is--href-replaced">Fruteira de Mesa de Aço Inoxidável Estilo Europeu Atitude
                                    Versátil</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9543379550483"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price=""><span
                                    class="t4s-price-from">De</span> R$ 305,62
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9514203250963 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9514203250963&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;papel-de-parede-adesivo-ripado-madeira-atitude-versatil&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49290500178195, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1718385144, &quot;compare_at_price&quot;:null,&quot;price&quot;:12096, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590\u0026width=1&quot;,&quot;alt&quot;:&quot;papel-de-parede-ripado-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(500%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024" alt="papel-de-parede-ripado"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=900 900w"
                                sizes="345px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&amp;width=900 900w">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-pr-img2="" class="t4s-product-hover-img lazyautosizes ls-is-cached lazyloadt4sed"
                                loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined"
                                data-srcset="//atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=900 900w"
                                sizes="270px"
                                srcset="//atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=100 100w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=200 200w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=400 400w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=600 600w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=700 700w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=800 800w, //atitudeversatil.com.br/cdn/shop/files/Afd407bbc77434d68a8fe4d2c86ffbc69t.webp?v=1718386590&amp;width=900 900w">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/papel_de_parede_ripado.jpg?v=1718386576&width=600"
                                    alt="papel-de-parede-ripado"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/papel-de-parede-adesivo-ripado-madeira-atitude-versatil"
                                data-atc-selector="" data-tooltip="" data-id="9514203250963" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/papel-de-parede-adesivo-ripado-madeira-atitude-versatil"
                                data-tooltip="left" data-id="9514203250963" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/papel-de-parede-adesivo-ripado-madeira-atitude-versatil"
                                data-tooltip="left" data-id="9514203250963" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/papel-de-parede-adesivo-ripado-madeira-atitude-versatil"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/papel-de-parede-adesivo-ripado-madeira-atitude-versatil"
                                    class="is--href-replaced">Papel De Parede Adesivo Ripado Madeira - Atitude
                                    Versátil</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9514203250963"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price=""><span
                                    class="t4s-price-from">De</span> R$ 120,96
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9471882887443 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9471882887443&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;colecao-quadro-decorativo-deusas-africanas-expressoes-de-poder&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49152602636563, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1717326324, &quot;compare_at_price&quot;:null,&quot;price&quot;:21075, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/S3d3c9f086a44449c897b098d1b1a039bP.webp?v=1717328758\u0026width=1&quot;,&quot;alt&quot;:&quot;quadro-decorativo-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(600%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 0.7140625">
                            <img data-pr-img="" class="t4s-product-main-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//atitudeversatil.com.br/cdn/shop/files/S4e34354ffd3945f7bcbbe4f5f616b88fk.webp?v=1717328758&amp;width=1"
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="457" height="640" alt="quadro-decorativo">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-src="//atitudeversatil.com.br/cdn/shop/files/S3d3c9f086a44449c897b098d1b1a039bP.webp?v=1717328758&amp;width=1"
                                data-pr-img2="" class="t4s-product-hover-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/S4e34354ffd3945f7bcbbe4f5f616b88fk.webp?v=1717328758&width=600"
                                    alt="quadro-decorativo"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/colecao-quadro-decorativo-deusas-africanas-expressoes-de-poder"
                                data-atc-selector="" data-tooltip="" data-id="9471882887443" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/colecao-quadro-decorativo-deusas-africanas-expressoes-de-poder"
                                data-tooltip="left" data-id="9471882887443" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/colecao-quadro-decorativo-deusas-africanas-expressoes-de-poder"
                                data-tooltip="left" data-id="9471882887443" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/colecao-quadro-decorativo-deusas-africanas-expressoes-de-poder"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/colecao-quadro-decorativo-deusas-africanas-expressoes-de-poder"
                                    class="is--href-replaced">Coleção Quadro Decorativo Deusas Africanas: Expressões de
                                    Poder</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9471882887443"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price=""><span
                                    class="t4s-price-from">De</span> R$ 150,57
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9460052295955 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9460052295955&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;luminaria-de-parede-led-crystal-asanzuo&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 49119139889427, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1716931096, &quot;compare_at_price&quot;:null,&quot;price&quot;:19656, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/NtacH589a0aa25936415c8e09d926dc39e4f7O.jpg?v=1717005163\u0026width=1&quot;,&quot;alt&quot;:&quot;luminaria-de-parede-2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(700%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2"
                            data-style="--aspect-ratioapt: 1.006726457399103">
                            <img data-pr-img="" class="t4s-product-main-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//atitudeversatil.com.br/cdn/shop/files/9cHyH3651e57eb4af490d8b0ee7077bde88bc2.png?v=1717005163&amp;width=1"
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="449" height="446" alt="luminaria-de-parede">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-src="//atitudeversatil.com.br/cdn/shop/files/NtacH589a0aa25936415c8e09d926dc39e4f7O.jpg?v=1717005163&amp;width=1"
                                data-pr-img2="" class="t4s-product-hover-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/9cHyH3651e57eb4af490d8b0ee7077bde88bc2.png?v=1717005163&width=600"
                                    alt="luminaria-de-parede"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/luminaria-de-parede-led-crystal-asanzuo"
                                data-atc-selector="" data-tooltip="" data-id="9460052295955" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/luminaria-de-parede-led-crystal-asanzuo"
                                data-tooltip="left" data-id="9460052295955" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/luminaria-de-parede-led-crystal-asanzuo"
                                data-tooltip="left" data-id="9460052295955" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/luminaria-de-parede-led-crystal-asanzuo"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/luminaria-de-parede-led-crystal-asanzuo"
                                    class="is--href-replaced">Luminária de Parede LED Crystal ASANZUO</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9460052295955"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 196,56
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9381019091219 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9381019091219&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;luminaria-de-parede-varmblixt-donut&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 48922824474899, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1714858492, &quot;compare_at_price&quot;:null,&quot;price&quot;:152000, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/Safe7869ca77b4b188802820bf5beddb8G.webp?v=1714858497\u0026width=1&quot;,&quot;alt&quot;:&quot;luminaria-de-parede-quarto&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(800%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//atitudeversatil.com.br/cdn/shop/files/Sd5c9d7524b4f4f19b2c807f71442653aO.webp?v=1714858497&amp;width=1"
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="800" height="800" alt="luminaria-de-parede">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-src="//atitudeversatil.com.br/cdn/shop/files/Safe7869ca77b4b188802820bf5beddb8G.webp?v=1714858497&amp;width=1"
                                data-pr-img2="" class="t4s-product-hover-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/Sd5c9d7524b4f4f19b2c807f71442653aO.webp?v=1714858497&width=600"
                                    alt="luminaria-de-parede"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/luminaria-de-parede-varmblixt-donut"
                                data-atc-selector="" data-tooltip="" data-id="9381019091219" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/luminaria-de-parede-varmblixt-donut"
                                data-tooltip="left" data-id="9381019091219" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/luminaria-de-parede-varmblixt-donut"
                                data-tooltip="left" data-id="9381019091219" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/luminaria-de-parede-varmblixt-donut"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/luminaria-de-parede-varmblixt-donut"
                                    class="is--href-replaced">Luminária de Parede Varmblixt Donut</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9381019091219"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 1.520,00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9367467262227 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9367467262227&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;luminaria-de-mesa-led-crystal-brilliance&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 48882050466067, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1714418415, &quot;compare_at_price&quot;:null,&quot;price&quot;:21595, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/4_bacb500c-e22b-4a91-8aa3-c1f66529d5f0.jpg?v=1714442124\u0026width=1&quot;,&quot;alt&quot;:&quot;luminaria-de-led&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(900%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//atitudeversatil.com.br/cdn/shop/files/1_43f551a6-6767-47c1-8308-b706cfcbde9d.jpg?v=1714442124&amp;width=1"
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024" alt="luminaria-de-mesa">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-src="//atitudeversatil.com.br/cdn/shop/files/4_bacb500c-e22b-4a91-8aa3-c1f66529d5f0.jpg?v=1714442124&amp;width=1"
                                data-pr-img2="" class="t4s-product-hover-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/1_43f551a6-6767-47c1-8308-b706cfcbde9d.jpg?v=1714442124&width=600"
                                    alt="luminaria-de-mesa"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/luminaria-de-mesa-led-crystal-brilliance"
                                data-atc-selector="" data-tooltip="" data-id="9367467262227" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/luminaria-de-mesa-led-crystal-brilliance"
                                data-tooltip="left" data-id="9367467262227" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/luminaria-de-mesa-led-crystal-brilliance"
                                data-tooltip="left" data-id="9367467262227" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/luminaria-de-mesa-led-crystal-brilliance"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/luminaria-de-mesa-led-crystal-brilliance"
                                    class="is--href-replaced">Luminária de Mesa LED Crystal Brilliance</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9367467262227"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 215,95
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9290608279827 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9290608279827&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;projetor-astronauta-galaxy-starry-sky&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 48722116411667, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1713311914, &quot;compare_at_price&quot;:null,&quot;price&quot;:24078, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/3_f6bf58f9-7505-473b-94ca-9d942e80abf8.jpg?v=1713315834\u0026width=1&quot;,&quot;alt&quot;:&quot;Projetor Astronauta Galaxy Starry Sky - Atitude Versátil - 2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(1000%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//atitudeversatil.com.br/cdn/shop/files/1_ddaa57da-d97b-4eb5-b216-0098138f9312.jpg?v=1713315834&amp;width=1"
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024"
                                alt="Projetor Astronauta Galaxy Starry Sky - Atitude Versátil">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-src="//atitudeversatil.com.br/cdn/shop/files/3_f6bf58f9-7505-473b-94ca-9d942e80abf8.jpg?v=1713315834&amp;width=1"
                                data-pr-img2="" class="t4s-product-hover-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/1_ddaa57da-d97b-4eb5-b216-0098138f9312.jpg?v=1713315834&width=600"
                                    alt="Projetor Astronauta Galaxy Starry Sky - Atitude Versátil"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/projetor-astronauta-galaxy-starry-sky"
                                data-atc-selector="" data-tooltip="" data-id="9290608279827" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/projetor-astronauta-galaxy-starry-sky"
                                data-tooltip="left" data-id="9290608279827" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/projetor-astronauta-galaxy-starry-sky"
                                data-tooltip="left" data-id="9290608279827" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/projetor-astronauta-galaxy-starry-sky"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/projetor-astronauta-galaxy-starry-sky"
                                    class="is--href-replaced">Projetor Astronauta Galaxy Starry Sky</a></h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9290608279827"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 240,78
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t4s-product t4s-pr-grid t4s-pr-style3 t4s-pr-9267852312851 t4s-col-item is-t4s-pr-created t4s_observered"
                data-product-options="{ &quot;id&quot;:&quot;9267852312851&quot;,&quot;available&quot;:true, &quot;handle&quot;:&quot;umidificador-de-ar-e-aromatizador-com-chamas-realistas&quot;, &quot;isDefault&quot;: false, &quot;VariantFirstID&quot;: 48657938809107, &quot;customBadge&quot;:null, &quot;customBadgeHandle&quot;:null,&quot;dateStart&quot;:1712849236, &quot;compare_at_price&quot;:null,&quot;price&quot;:18554, &quot;isPreoder&quot;:false,&quot;isExternal&quot;:false,&quot;image2&quot;:&quot;\/\/atitudeversatil.com.br\/cdn\/shop\/files\/1_1a50f119-22e4-4bdc-9959-f5fb76e258d2.jpg?v=1712857764\u0026width=1&quot;,&quot;alt&quot;:&quot;Umidificador de Ar e Aromatizador com Chamas Realistas - Atitude Versátil - 2&quot;,&quot;isGrouped&quot;:false,&quot;maxQuantity&quot;:9999 }"
                aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(1100%);">
                <div class="t4s-product-wrapper">
                    <div data-cacl-slide="" class="t4s-product-inner t4s-pr t4s-oh">
                        <div class="t4s-product-img t4s_ratio is-show-img2" data-style="--aspect-ratioapt: 1.0">
                            <img data-pr-img="" class="t4s-product-main-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="//atitudeversatil.com.br/cdn/shop/files/UmidificadordeAr.jpg?v=1712857764&amp;width=1"
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                width="1024" height="1024"
                                alt="Umidificador de Ar e Aromatizador com Chamas Realistas - Atitude Versátil">
                            <span class="lazyloadt4s-loader"></span>
                            <img data-src="//atitudeversatil.com.br/cdn/shop/files/1_1a50f119-22e4-4bdc-9959-f5fb76e258d2.jpg?v=1712857764&amp;width=1"
                                data-pr-img2="" class="t4s-product-hover-img lazyloadt4s" loading="lazy"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-widths="[100,200,400,600,700,800,900]" data-optimumx="1.5" data-sizes="auto"
                                alt="undefined">
                            <noscript><img class="t4s-product-main-img" loading="lazy"
                                    src="//atitudeversatil.com.br/cdn/shop/files/UmidificadordeAr.jpg?v=1712857764&width=600"
                                    alt="Umidificador de Ar e Aromatizador com Chamas Realistas - Atitude Versátil"></noscript>
                        </div>
                        <div data-product-badge="" data-sort="sale,new,soldout,preOrder,custom"
                            class="t4s-product-badge"></div>
                        <div class="t4s-product-btns"><a
                                href="/collections/destaques/products/umidificador-de-ar-e-aromatizador-com-chamas-realistas"
                                data-atc-selector="" data-tooltip="" data-id="9267852312851" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-addtocart" dat-qty="1" data-action-quickshop=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-atc"></use>
                                    </svg></span><span class="t4s-text-pr">Compra rápida</span></a>
                        </div>
                        <div class="t4s-product-btns2"><a
                                href="/collections/destaques/products/umidificador-de-ar-e-aromatizador-com-chamas-realistas"
                                data-tooltip="left" data-id="9267852312851" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-wishlist" data-action-wishlist=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-wis"></use>
                                    </svg></span><span class="t4s-text-pr">Adicionar a lista de desejos</span></a><a
                                href="/collections/destaques/products/umidificador-de-ar-e-aromatizador-com-chamas-realistas"
                                data-tooltip="left" data-id="9267852312851" rel="nofollow"
                                class="t4s-pr-item-btn t4s-pr-quickview" data-action-quickview=""><span
                                    class="t4s-svg-pr-icon"><svg viewBox="0 0 24 24">
                                        <use xlink:href="#t4s-icon-qv"></use>
                                    </svg></span><span class="t4s-text-pr">Olhada rápida</span></a>

                        </div><a data-pr-href="" class="t4s-full-width-link is--href-replaced"
                            href="/collections/destaques/products/umidificador-de-ar-e-aromatizador-com-chamas-realistas"></a>
                    </div>
                    <div class="t4s-product-info">
                        <div class="t4s-product-info__inner">
                            <h3 class="t4s-product-title"><a data-pr-href=""
                                    href="/collections/destaques/products/umidificador-de-ar-e-aromatizador-com-chamas-realistas"
                                    class="is--href-replaced">Umidificador de Ar e Aromatizador com Chamas Realistas</a>
                            </h3>
                            <!-- Start of Judge.me code -->
                            <div style="" class="jdgm-widget jdgm-preview-badge" data-id="9267852312851"
                                data-auto-install="false">

                            </div>
                            <!-- End of Judge.me code -->
                            <div class="t4s-product-price" data-pr-price="" data-product-price="">R$ 185,54
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><button class="flickityt4s-button flickityt4s-prev-next-button previous" type="button" disabled=""
        aria-label="Previous"><svg class="flickityt4s-button-icon" viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow"></path>
        </svg></button><button class="flickityt4s-button flickityt4s-prev-next-button next" type="button"
        aria-label="Next"><svg class="flickityt4s-button-icon" viewBox="0 0 100 100">
            <path d="M 10,50 L 60,100 L 65,95 L 20,50  L 65,5 L 60,0 Z" class="arrow"
                transform="translate(100, 100) rotate(180) "></path>
        </svg></button>
</div>