<div class="t4s-container">
    <div data-header-height="" class="t4s-row t4s-gx-15 t4s-gx-md-30 t4s-align-items-center"><div class="t4s-col-md-4 t4s-col-3 t4s-d-lg-none t4s-col-item"><a href="/" data-menu-drawer="" data-drawer-options="{ &quot;id&quot;:&quot;#t4s-menu-drawer&quot; }" class="t4s-push-menu-btn  t4s-lh-1 t4s-d-flex t4s-align-items-center"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="currentColor"><rect width="30" height="1.5"></rect><rect y="7" width="20" height="1.5"></rect><rect y="14" width="30" height="1.5"></rect></svg></a></div>
        <div class="t4s-col-lg-2 t4s-col-md-4 t4s-col-6 t4s-text-center t4s-text-lg-start t4s-col-item"><div class=" t4s-header__logo t4s-lh-1"><a class="t4s-d-inline-block" href="/"><img loading="lazy" srcset="//atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=230, //atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=460 2x" src="//atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=230" class="header__normal-logo t4s-d-none t4s-d-lg-block" width="230" height="230" alt="Atitude Versátil" style="width: 230px"><img loading="lazy" srcset="//atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=300, //atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=600 2x" src="//atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=300" class="header__sticky-logo t4s-d-none t4s-d-none" width="300" height="300" alt="Atitude Versátil" style="width: 300px"><img loading="lazy" srcset="//atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=350, //atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=700 2x" src="//atitudeversatil.com.br/cdn/shop/files/logo_1.png?v=1720797362&amp;width=350" class="header__mobile-logo t4s-d-lg-none" width="350" height="350" alt="Atitude Versátil" style="width: 350px"></a></div> </div>
        <div class="t4s-col t4s-d-none t4s-d-lg-block t4s-col-item"><style>
/* Estado inicial: altura pequena */
header .t4s-container {
    height: 5px;
    transition: height 0.3s ease; /* Transição suave para mudanças de altura */
}

/* Estado durante a rolagem: visível com altura especificada */
header .t4s-container.scrolled {
    height: 150px; /* Para desktop */
}

/* Ajuste para tablet e mobile */
@media (max-width: 1024px) {
    header .t4s-container.scrolled {
        height: 70px; /* Para mobile e tablet */
    }
}

/* Para outras páginas: altura inicial */
header .t4s-container.initial {
    height: 150px; /* Altura inicial para outras páginas */
}

@media (max-width: 1024px) {
    header .t4s-container.initial {
        height: 70px; /* Altura inicial para mobile e tablet */
    }
}
</style><nav class="t4s-navigation t4s-text-center t4s-nav__hover_sideup t4s-nav-arrow__true"><ul data-menu-nav="" id="t4s-nav-ul" class="t4s-nav__ul t4s-d-inline-flex t4s-flex-wrap t4s-align-items-center"><li id="item_drop_3MWpKP" data-placement="bottom" class="t4s-type__drop t4s-menu-item has--children menu-has__offsets menu-pos__left hover:bg-gray-100 transition duration-300 ease-in-out">
             <a class="t4s-lh-1 t4s-d-flex t4s-align-items-center t4s-pr font-semibold text-lg hover:text-orange-500 hover:bg-gray-800 transition duration-300 ease-in-out" href="/collections/frontpage" target="_self">Panela Elétrica<svg class="t4s-icon-select-arrow" width="10" height="10" role="presentation" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg></a><div id="content_drop_3MWpKP" class="t4s-sub-menu t4s-pa t4s-op-0 t4s-pe-none absolute mt-2 bg-white shadow-lg rounded-lg transition-all duration-300 ease-in-out transform scale-95 group-hover:scale-100" style="left: 148.773px; top: 100%;"><div class="t4s-lazy_menu" data-handle="coisas-de-casas"><link rel="stylesheet" href="//atitudeversatil.com.br/cdn/shop/t/17/assets/t4s-submenu.css?v=57893181754694547241721324070" media="all"><div class="t4s-menu-item"><a href="/collections/utensilios-de-cozinha">Utensílios de Cozinha</a></div><div class="t4s-menu-item"><a href="/collections/cantinho-do-cafe-moderno">Cantinho do Café Moderno</a></div><div class="t4s-menu-item"><a href="/collections/presente-dia-dos-namorados">Presente Dia Dos Namorados</a></div><div class="t4s-menu-item"><a href="/collections/kit-casa-inteligente">Kit Casa Inteligente</a></div></div></div></li><li id="item_drop_E4AYnG" data-placement="bottom" class="t4s-type__drop t4s-menu-item has--children menu-has__offsets menu-pos__left hover:bg-gray-100 transition duration-300 ease-in-out">
             <a class="t4s-lh-1 t4s-d-flex t4s-align-items-center t4s-pr font-semibold text-lg hover:text-orange-500 hover:bg-gray-800 transition duration-300 ease-in-out" href="/collections/decoracao" target="_self">Liquidificadores<svg class="t4s-icon-select-arrow" width="10" height="10" role="presentation" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg></a><div id="content_drop_E4AYnG" class="t4s-sub-menu t4s-pa t4s-op-0 t4s-pe-none absolute mt-2 bg-white shadow-lg rounded-lg transition-all duration-300 ease-in-out transform scale-95 group-hover:scale-100" style="left: 291.945px; top: 100%;"><div class="t4s-lazy_menu" data-handle="decoracao-moderna"><link rel="stylesheet" href="//atitudeversatil.com.br/cdn/shop/t/17/assets/t4s-submenu.css?v=57893181754694547241721324070" media="all"><div class="t4s-menu-item"><a href="/collections/decoracao-quarto">Decoração Quarto de Casal</a></div><div class="t4s-menu-item"><a href="/collections/decoracao-quarto-gamer">Decoração Quarto Gamer</a></div><div class="t4s-menu-item"><a href="/collections/decoracao-quarto-masculino">Decoração Quarto Masculino</a></div><div class="t4s-menu-item"><a href="/collections/decoracao-quarto-feminino">Decoração Quarto Feminino</a></div><div class="t4s-menu-item"><a href="/collections/kit-banheiro-completo">Decoração Banheiro</a></div><div class="t4s-menu-item"><a href="/collections/decoracao-sala-de-estar">Decoração para sala</a></div><div class="t4s-menu-item"><a href="/collections/decoracao-sala-de-jantar-moderna">Decoração Sala de Jantar Moderna</a></div><div class="t4s-menu-item"><a href="/collections/quadros-decorativos">Quadros Decorativos</a></div><div class="t4s-menu-item"><a href="/collections/decoracao-apartamento-pequeno"> Decoração Apartamento Pequeno</a></div><div class="t4s-menu-item"><a href="/collections/luminarias">Luminárias</a></div></div></div></li><li id="item_drop_qC8giU" data-placement="bottom" class="t4s-type__drop t4s-menu-item has--children menu-has__offsets menu-pos__left hover:bg-gray-100 transition duration-300 ease-in-out">
             <a class="t4s-lh-1 t4s-d-flex t4s-align-items-center t4s-pr font-semibold text-lg hover:text-orange-500 hover:bg-gray-800 transition duration-300 ease-in-out" href="/blogs/novidades" target="_self">Mata Mosquito Eletrico<svg class="t4s-icon-select-arrow" width="10" height="10" role="presentation" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg></a><div id="content_drop_qC8giU" class="t4s-sub-menu t4s-pa t4s-op-0 t4s-pe-none absolute mt-2 bg-white shadow-lg rounded-lg transition-all duration-300 ease-in-out transform scale-95 group-hover:scale-100" style="left: 242.672px; top: 100%;"><div class="t4s-lazy_menu" data-handle="dicas-para-casa"><link rel="stylesheet" href="//atitudeversatil.com.br/cdn/shop/t/17/assets/t4s-submenu.css?v=57893181754694547241721324070" media="all"><div class="t4s-menu-item"><a href="/blogs/novidades/acessorios-para-gatos">4 Acessórios para Gatos que Facilitarão Sua Vida</a></div><div class="t4s-menu-item"><a href="/blogs/novidades/presente-para-namorado-homem">Surpreenda seu namorado com ideias diferentes para presentes: explore o mundo dos kits de presentes</a></div><div class="t4s-menu-item"><a href="/blogs/novidades/presente-dia-das-maes-barato-e-criativo">Presente Dia das Mães Barato e Criativo: Descubra 5 Ideias Encantadoras e Econômicas</a></div><div class="t4s-menu-item"><a href="/blogs/novidades/3-dicas-de-cantinho-do-cafe-simples-e-barato">3 Dicas de Cantinho do Café Simples e Barato</a></div><div class="t4s-menu-item"><a href="/blogs/novidades/tendencias-natalinas-2023-5-ideias-de-decoracao-para-sala-de-estar-e-jardim">Tendências Natalinas 2023: 5 Ideias de Decoração para Sala de Estar e Jardim</a></div><div class="t4s-menu-item"><a href="/blogs/novidades/quais-sao-as-cores-acessorios-e-as-principais-tendencias-da-moda-primavera-verao-2023-2024">Quais são as cores, acessórios e as principais tendências da moda primavera verão 2023/2024</a></div></div></div></li><li id="item_drop_7BVDwc" data-placement="bottom" class="t4s-type__drop t4s-menu-item has--children menu-has__offsets menu-pos__left hover:bg-gray-100 transition duration-300 ease-in-out">
             <a class="t4s-lh-1 t4s-d-flex t4s-align-items-center t4s-pr font-semibold text-lg hover:text-orange-500 hover:bg-gray-800 transition duration-300 ease-in-out" href="/" target="_self">Dispenser Para Sabonete Liquido<svg class="t4s-icon-select-arrow" width="10" height="10" role="presentation" viewBox="0 0 19 12"><use xlink:href="#t4s-select-arrow"></use></svg></a></li><li id="item_base_AyTfnU" class="t4s-type__simple t4s-menu-item hover:bg-gray-100 transition duration-300 ease-in-out"><a class="t4s-lh-1 t4s-d-flex t4s-align-items-center t4s-pr font-semibold text-lg hover:text-orange-500 hover:bg-gray-800 transition duration-300 ease-in-out" href="/pages/contact " target="_self">contato</a></li><li id="item_base_wU8wRp" class="t4s-type__simple t4s-menu-item hover:bg-gray-100 transition duration-300 ease-in-out"><a class="t4s-lh-1 t4s-d-flex t4s-align-items-center t4s-pr font-semibold text-lg hover:text-orange-500 hover:bg-gray-800 transition duration-300 ease-in-out" href="/pages/rastreio " target="_self">Rastreio</a></li></ul></nav></div>
        <div class="t4s-col-lg-auto t4s-col-md-4 t4s-col-3 t4s-text-end t4s-col-group_btns t4s-col-item t4s-lh-1"><svg xmlns="http://www.w3.org/2000/svg" class="t4s-d-none">
		  <symbol id="icon-h-search" viewBox="0 0 18 19" fill="none">
		    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"></path>
		  </symbol>
		  <symbol id="icon-h-account" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.2" fill="none" stroke-linecap="round" stroke-linejoin="round">
		  	<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
		   </symbol>
		  <symbol id="icon-h-heart" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.2" fill="none" stroke-linecap="round" stroke-linejoin="round">
		  	<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
		   </symbol>
		  <symbol id="icon-h-cart" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.2" fill="none" stroke-linecap="round" stroke-linejoin="round">
		  <circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
		   </symbol>
		</svg><div class="t4s-site-nav__icons t4s-use__kalles is--hover3 t4s-h-cart__design2 t4s-lh-1 t4s-d-inline-flex t4s-align-items-center"><div class="t4s-site-nav__icon t4s-site-nav__search"><a class="t4s-pr" href="/search" data-drawer-options="{ &quot;id&quot;:&quot;#t4s-search-hidden&quot; }">
				<svg class="t4s-icon t4s-icon--search" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-search"></use></svg>
			</a></div><div class="t4s-site-nav__icon t4s-site-nav__heart t4s-d-none t4s-d-md-inline-block"><a data-link-wishlist="" class="t4s-pr" href="/search/?view=wishlist">
			  <svg class="t4s-icon t4s-icon--heart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-heart"></use></svg>
			  <span data-count-wishlist="" class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">0</span>
	      </a></div><div class="t4s-site-nav__icon t4s-site-nav__cart">	
		<a href="/cart" data-drawer-options="{ &quot;id&quot;:&quot;#t4s-mini_cart&quot; }">
			<span class="t4s-pr t4s-icon-cart__wrap">
			  <svg class="t4s-icon t4s-icon--cart" aria-hidden="true" focusable="false" role="presentation"><use href="#icon-h-cart"></use></svg>
			  <span data-cart-count="" class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">0</span>
			</span>
			<span class="t4s-h-cart-totals t4s-dn t4s-truncate">
				<span class="t4s-h-cart__divider t4s-dn">/</span>
				<span data-cart-tt-price="" class="t4s-h-cart__total">R$ 0,00</span>
			</span>
      </a>
    </div></div><style>
		.t4s-h-cart__design3 .t4s-count-box {
		    width: 19px;
		    height: 19px;
		    line-height: 19px;
		    position: static;
		    display: inline-block;
		}
		.t4s-h-cart__design2 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design3 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design4 .t4s-site-nav__icon:last-child,
		.t4s-h-cart__design5 .t4s-site-nav__icon:last-child {
		    padding-right: 0;
		}
    @media (min-width: 768px) {

	    	.t4s-h-cart__design2 .t4s-site-nav__cart a,
	    	.t4s-h-cart__design4 .t4s-site-nav__cart a,
	    	.t4s-h-cart__design5 .t4s-site-nav__cart a {
		      display: flex;
			   align-items: center;
			   justify-content: center;
	    	}
	    	.t4s-h-cart__design2 .t4s-h-cart-totals,
	    	.t4s-h-cart__design4 .t4s-h-cart-totals {
			    display: block;
			    margin-left: 15px;
			}
			.t4s-h-cart__design4 .t4s-site-nav__cart .t4s-count-box,
			.t4s-h-cart__design5 .t4s-site-nav__cart .t4s-count-box {
				display: none
			}
			.t4s-h-cart__design4 .t4s-h-cart-totals {
				margin-left: 7px;
			}
			.t4s-h-cart__design5 .t4s-h-cart__divider {
			    display: inline-block;
			}
			.t4s-h-cart__design5 .t4s-h-cart-totals {
			    display: block;
			    margin-left: 7px;
			}
			
			.t4s-h-cart__design1 .t4s-site-nav__icon.t4s-site-nav__btnMenu {
			    padding-right: 0;
			}
    }
    </style></div></div>
  </div>